* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a, button {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #3e585b;
}

#signin-btn {
    padding: 6px 25px;
    background-color: #709be1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 15px;
}

#signin-btn:hover {
    background-color: #81a7e4;
}
